<div>
<!-- Surrounding DIV for sfField builder to add a sfField directive to. -->

  <div id="direct_upload" 
    ngf-drop="uploadFiles($files)"
    ngf-drag-over-class="dragOverClass($event)"
    ng-model="files"
    ng-multiple="true" ng-controller="cloudinaryFileUploadCtrl">
      <div class="setting image_picker">
        <h2>{{form.label}}:</h2>
        <div class="settings_wrap">
          <label class="drop_target" ngf-select="uploadFiles($files)" resetOnClick="true">
          </label>
          <div class="settings_actions vertical" ng-repeat="file in files" ng-class="{'upload-success': file.result.success, 'upload-error': file.result.failed==true}">
            <a data-action="choose_from_uploaded">
            <i class="fa fa-picture-o"></i>  {{file.name}} </a>
            <a class="disabled" data-action="remove_current_image">  
              <i class = "fa" ng-class="{'fa-retweet': !file.result.success && !file.result.error, 'fa-check-circle': file.result.success, 'fa-meh-o': file.result.failed}"></i> 
              {{file.status}}
            </a>
            <div class="progress"> 
              <div class="progress-bar" role="progressbar" style="width: {{file.progress}}%" ng-init="file.progress=0"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>